html, body, div, ul, ol, li, h1, h2, h3, h4, h5, h6, form, input, textarea, select, option, button, p, span, tr, th, td, a{
	margin: 0;
	padding: 0;
	font-family: "Microsoft Yahei";
	font-size: 12px;
	text-decoration: none;
}
ul, ol, li{
	list-style-type: none;
}
img{
	border: none;
}
i{
	font-style: normal;
}
h1, h2, h3, h4, h5, h6{
	font-weight: normal;
}
input, button, textarea, select, option{
	border: 0;
	outline: 0;
}
body{
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	-khtml-user-select: none;
	user-select: none;
}
::-webkit-input-placeholder{
	color: #ddd;
}
::-moz-placeholder{
	color: #ddd;
}
::-ms-input-placeholder{
	color: #ddd;
}

/* common */
.clear:after{
	display: table;
	clear: both;
	content: '';
	height: 0;
}
*{
	overflow: hidden;
}
html,body,.wrapper,.nav-menu,.div-block{
	height: 100%;
}
.div-block,.nav-header{
	background-color: #2f4050;
	position: relative;
}
.nav-menu{
	width: 220px;
	position: fixed;
}
.nav>li>a{
	font-weight: 600;
	color:#a7b1c2;
	text-decoration: none;
	display:block;
	height: 18px;
	width: 175px;
	padding: 14px 25px 14px 20px;
}
.nav>li>a:hover{
	color: white;
	background-color: #293846;
}
.nav>li>ul>li>a{
	padding: 7px 15px 7px 52px;
	width: 149px;
	height: 18px;
	display: block;
	background-color: #293846;
	color: #a7b1c2;
}
.nav>li>ul>li>a:hover{
	color: white
}
.nav-header{
	background: url(patterns/header-profile.png) no-repeat;
	padding: 33px 25px;
	color: #8095a8;
	font-weight: 600;
}
span{
	display: block;
}
.user-img{
	width: 64px;
	border-radius: 50%;
}
.username{
	color: snow;
	padding-top: 2px;
}
.text{
	font-size: 13px;
	font-weight: 300;
	color: #8095a8;
}
.page-wrapper{
	height: 100%;
	padding: 0 15px;
	margin: 0 0 0 220px;
}
.row,.frame-window{
	margin-left: -15px;
	margin-right: -15px;
	border-bottom: 1px solid #e7eaec;
}
.right-nav{
	background-color: #f3f3f4;
	width: 100%;
	height: 60px;
}
@media screen and (max-width:984px){
	.right-nav{
		height: 120px;
	}
}
.nav-form{
	height: 60px;
	width: 60%;
	margin-left:15px;
	float: left;
}
.nav-search{
	height: 48px;
	padding: 6px;
	background-color: rgba(0,0,0,0);
	color: #8095a8;
	font-size: 14px;
}
.top-link{
	float: right !important;
}
.top-link>li{
	display: inline-block;
}
.top-link>li>a{
	display: block;
	padding: 20px;	
	position: relative;
	font-size: 15px;
	font-weight: 600;
	color:#a7b1c2;
}
.secrow{
	height: 40px;
	border-bottom: 2px solid #2f4050;
	display: block;
	margin: 0 -15px 0 -15px;
}
.tab-list{
	width: 100000px;
	height: 40px;
	margin-left: 40px;
	position: absolute;
}
.page-tabs a{
	line-height: 40px;
	padding: 0 15px 0 15px;;
	display: block;
	width: 26px;
	color: #a7b1c2;
	position: relative;
	float: left;
}
.page-tabs .on{
	background-color: #2f4050
}
.page-tabs .on:hover{
	color: white;
}
.roll-nav,.close,.left,.right{
	position: absolute;
	line-height: 40px;
	font-size: 14px;
	color: #a7b1c2;
	background-color:#fff;
	text-align:center;
	display: block;
	border-left: 1px solid #e7eaec;
	border-right: 1px solid #e7eaec;
}
.exit{
	right: 0;
	width: 59px;
}
.close{
	right: 60px;
	width: 78px;
}
.right,.left{
	width: 40px;
}
.right{
	right: 139px;
}
.roll-nav:hover,.close:hover,.left:hover,.right:hover{
	background-color:#fafafa;
}
.frame-window{
	height:calc(100% - 140px);
}
.set-right{
	float: right;
	line-height: 35px;
}