<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>后端管理</title>
    <link rel="stylesheet" href="../css/common.css">
</head>
<body>
    <div class="wrapper">
        <!--  -->
        <nav class="nav-menu">
            <div class="div-block">
                <ul class="nav">
                    <li class="nav-header">
                        <div>
                            <span>
                                <img src="../image/pic.jpg" alt="用户头像" class="user-img">
                            </span>
                            <a href="#" class="dropdown">
                                <span class="">
                                    <span class="username"><strong>Admin-user</strong></span>
                                    <span class="text">管理员</span>
                                </span>
                            </a>
                        </div>
                    </li>
                    <li>
                        <a href="">主页</a>
                        <ul class="">
                            <li><a href="">测试一</a></li>
                            <li><a href="">测试二</a></li>
                            <li><a href="">测试三</a></li>
                            <li><a href="">测试四</a></li>
                            <li><a href="">测试五</a></li>
                        </ul>
                    </li>
                    <li><a href="">权限</a></li>
                    <li><a href="">用户</a></li>
                    <li><a href="">视频</a></li>
                    <li><a href="">统计</a></li>
                </ul>
            </div>
        </nav>
        <!--  -->
        <!--  -->
        <div class="page-wrapper">
            <div class="row">
            <nav class="right-nav">
                <form role="search" action="search" class="nav-form">
                    <div>
                        <input type="text" name="" id="" class="nav-search" placeholder="请输入您要查找的内容.......">
                    </div>
                </form>
                <ul class="top-link">
                    <li><a href="">邮件</a></li>
                    <li><a href="">消息</a></li>
                    <li><a href="">主题</a></li>
                    <li><a href="">关于</a></li>
                </ul>
            </nav>
            </div>
            <div class="secrow">
                <a href="" class="left">&#60;</a>
                <nav class="tab-list">
                    <div class="page-tabs">
                        <a href="#" class="on">主页</a>
                        <a href="#">主页</a>
                        <a href="#">主页</a>
                        <a href="#">主页</a>
                        <a href="#">主页</a>
                        <a href="#">主页</a>
                    </div>
                </nav>
                <a href="" class="right">&#62;</a>
                <div>
                    <a href="" class="roll-nav close">关闭操作</a>
                </div>
                <a href="#" class="roll-nav exit">退出</a>
            </div>
            <div class="frame-window">
                <iframe class="iframe" name="iframe0" width="100%" height="100%" src="#" frameborder="0"></iframe>
            </div>
            <div class="footer">
                <div class="set-right">
                    &copy;2018 <a href="http://harvey495.top">Harvey</a>   
                </div>
            </div>
        </div>
        <!--  -->
        </div>
    </div>
</body>
</html>