<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>运营管理平台-登录</title>
    <link rel="stylesheet" type="text/css" href="../css/common.css" />
    <link rel="stylesheet" href="../css/login.css">
</head>
<body>
    <div class="login-box">
        <div class="login">
            <h2>登录</h2>
            <div>
                <input type="text" value="" placeholder="账户" class="text" />
                <input type="password" name="" id="" placeholder="密码" class="text" />
                <button class="submit">登录</button>
                <div class="new clear">
                    <p>
                        <label>
                            <input type="checkbox" name="" id="" class="checkbox" />
                        </label>
                        记住密码
                    </p>
                    <p class="sign">
                        没有账户?<a href="">注册</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>